.quran-verse {
  direction: rtl;
  font-family:'PDMS_Saleem_QuranFont';
  font-size:28px;
  text-align: right;
  margin: 16px 0;

  .verse-number {
    margin-left: 7px;
    font-size: 150%;
    line-height: 100%;
  }
}
