.page-index {

  .flex-categories {
    .category {
      text-align: center;

      a {
        text-decoration: none;

        img {
          display: block;
          max-width: 200px;
          max-height: 200px;
        }
      }
    }
  }
}
