<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        <h1>{{ page.title }}</h1>

        {{ content }}

        {% include quran-disclaimer.html %}
      </div>
    </div>

    {% include footer.html %}

    <script>
    String.prototype.toArabicDigits= function(){
     var id= ['۰','۱','۲','۳','۴','۵','۶','۷','۸','۹'];
     return this.replace(/[0-9]/g, function(w){
      return id[+w]
     });
    }

    // Retrieve the verse
    var verseElem = document.getElementsByClassName('quran-verse')[0];
    var verse = verseElem.innerHTML;

    // Update the aya format from '{##}'
    verse = verse.replace(/{(\d+)}/g, "<span class='verse-number'>۝ $1</span>");
    verse = verse.toArabicDigits();

    // Put it back in
    verseElem.innerHTML = verse;
    </script>
  </body>
</html>
